section.toolbar {
    background-color: #E59500;
    display: flex;
    justify-content: end;
    padding: .2em 1em;

    #tools {
        display: flex;
        font-family: sans-serif;
        gap: 1em;

        a {
            color: #FFFFFF;
            font-size: 0.95em;
            text-decoration: none;
        }
    }
}

nav.navbar {
    align-items: center;
    background-color: #002642;
    display: flex;
    padding-top: .8em;
    padding-bottom: .8em;
    justify-content: space-around;

    #brand,
    #logo {
        color: #FFFFFF;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 2em;
        max-height: 30px;
    }

    ul#nav {
        display: flex;
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            list-style-type: none;
        }

        a {
            color: #FFFFFF;
            display: flex;
            font-size: 0.95em;
            font-family: sans-serif;
            text-decoration: none;
            padding: 0 1em;
        }

        a:hover {
            text-decoration: underline;
            //text-decoration-thickness: .1em;
            text-underline-offset: .30em;
        }
    }
}